In [1]:
# us states names
states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

# us states abbreviations
states_abbrev = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

Create a dictionary to map each state to its abbreviation

#  Data processing practice

Select records where the value is not `"GREEN"`

In [2]:
records = ["RED", "BLUE", "BLUE", "GREEN", "RED"]

Select records of products from China

In [3]:
# sample records of products, each product has a name, price, and country of origin
records = [{'name': 'office chair', 'price': 150, 'coo':'China'},
           {'name': 'bike', 'price': 800, 'coo': 'China'},
           {'name': 'car', 'price': 40000, 'coo': 'Germany'},
           {'name': 'laptop', 'price': 2000, 'coo': 'USA'},
           {'name': 'desk', 'price': 300, 'coo': 'China'},
           {'name': 'lamp', 'price': 50, 'coo': 'China'}]

What is the most expensive product?

What is the most expensive product from China?

In [4]:
records = [('office chair', 150, 'China'),
           ('bike', 800, 'China'),
           ('car', 40000, 'Germany'),
           ('laptop', 2000, 'USA'),
           ('desk', 300, 'China'),
           ('lamp', 50, 'China')]

- Select records of products from China
- What is the most expensive product?
- What is the most expensive product from China?

In [5]:
import pandas as pd
df = pd.DataFrame(records, columns=['name', 'price', 'coo'])
df

           name  price      coo
0  office chair    150    China
1          bike    800    China
2           car  40000  Germany
3        laptop   2000      USA
4          desk    300    China
5          lamp     50    China

- Select records of products from China
- What is the most expensive product?
- What is the most expensive product from China?