In [1]:
import pandas as pd
import numpy as np

The file `eastmank.xlsx` contains the actual revenue, consumer price index, and real revenue
of the Eastman Kodak company from 1975 to 1992

In [12]:
data = pd.read_excel('data/eastmank.xlsx')
data.head()

   Year  Coded Year  Act-Revenue  CPI-U  Real-Revenue
0  1975           0          5.0   53.8           9.3
1  1976           1          5.4   56.9           9.5
2  1977           2          6.0   60.6           9.9
3  1978           3          7.0   65.2          10.7
4  1979           4          8.0   72.6          11.0

- The revenues are in million of dollars, multiply `Act-Revenue` and `Real-Revenue` by one million and assign back to the data frame
- Calculate the difference between `Real-Revenue` and `Act-Revenue`, create a new column `Opt-Expenses` in the data frame
- Report the average `Act-Revenue` and `Real-Revenue` in a series
- Subtract the mean of `Act-Revenue` and `Real-Revenue` from the values of `Act-Revenue` and `Real-Revenue`
- In which years did the company have above than average `Act-Revenue`? Return the results in a sorted list
- In which years did the company have above than average `Real-Revenue`? Return the results in a sorted list
-  In which years did the company have above than average `Real-Revenue` but below average `Real-Revenue`? Return the results in a sorted list

In [13]:
data[['Act-Revenue','Real-Revenue']] = data[['Act-Revenue','Real-Revenue']]*1e6

In [14]:
data['Opt-Expenses'] = data['Act-Revenue']-data['Real-Revenue']

In [15]:
data

    Year  Coded Year  Act-Revenue  CPI-U  Real-Revenue  Opt-Expenses
0   1975           0    5000000.0   53.8     9300000.0    -4300000.0
1   1976           1    5400000.0   56.9     9500000.0    -4100000.0
2   1977           2    6000000.0   60.6     9900000.0    -3900000.0
3   1978           3    7000000.0   65.2    10700000.0    -3700000.0
4   1979           4    8000000.0   72.6    11000000.0    -3000000.0
5   1980           5    9700000.0   82.4    11800000.0    -2100000.0
6   1981           6   10300000.0   90.9    11300000.0    -1000000.0
7   1982           7   10800000.0   96.5    11200000.0     -400000.0
8   1983           8   10200000.0   99.6    10200000.0           0.0
9   1984           9   10600000.0  103.9    10200000.0      400000.0
10  1985          10   10600000.0  107.6     9900000.0      700000.0
11  1986          11   11500000.0  109.6    10500000.0     1000000.0
12  1987          12   13300000.0  113.6    11700000.0     1600000.0
13  1988          13   17000000.0  118.3    14400000.0     2600000.0
14  1989          14   18400000.0  124.0    14800000.0     3600000.0
15  1990          15   18900000.0  130.7    14500000.0     4400000.0
16  1991          16   19400000.0  136.2    14200000.0     5200000.0
17  1992          17   20200000.0  140.3    14400000.0     5800000.0
18  1993          18   16300000.0  144.5    11300000.0     5000000.0
19  1994          19   13700000.0  148.2     9200000.0     4500000.0
20  1995          20   15300000.0  152.4    10000000.0     5300000.0
21  1996          21   16200000.0  156.9    10300000.0     5900000.0

In [21]:
means = data[['Act-Revenue','Real-Revenue']].mean()
means

Act-Revenue     1.244545e+07
Real-Revenue    1.137727e+07
dtype: float64

In [33]:
data[['Act-Revenue','Real-Revenue']] = data[['Act-Revenue','Real-Revenue']] - means

In [70]:
def lists(columns:list):
    if not isinstance(columns, list):
        raise TypeError("Argument must be a list")
    for column in columns:
        print(column)
        print(sorted(list(data[data[column]>0]['Coded Year'])))

In [71]:
lists(['Act-Revenue','Real-Revenue'])

Act-Revenue
[12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Real-Revenue
[5, 12, 13, 14, 15, 16, 17]

In [72]:
lists('Real-Revenue')

TypeError: Argument must be a list

In [74]:
sorted(list(data[(data['Act-Revenue']>0) & (data['Real-Revenue']<0)]['Coded Year']))

[18, 19, 20, 21]